@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.section-1{
    flex: 70%;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.section-2{
    flex: 30%;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card{
    flex: 33%;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    height: 20vh;
    margin-top: -20px;
    border-radius: 8px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}

.card-2{
    background-color: white;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 60vh;
    border-radius: 8px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}

.heading{
    margin-left: 10px;
}

li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-label{
    font-size: x-large;
    text-align: center;
    padding-top: 10%;
}

.card-value{
    font-size: xx-large;
    text-align: center;
}

.dropdown{
    height: 89px;
    width: 46px;
    position: relative;
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 10px;
}

p{
    margin-left: 10px;
    margin-bottom: 30px;
}

h4{
    margin-left: 15px;
}

h1{
    margin-left: 10px;
    font-weight: bold;
    background-color: rgb(246, 247, 247);
    border-radius: 5px;
    padding: 5px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}